*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "PixelFont";
  src: url("./assets/fonts/ThaleahFat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  font-family: "PixelFont", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.leaderboard-container {
  text-align: center;
}

h1 {
  font-family: "PixelFont", sans-serif;
  color: magenta;
  font-size: 5rem;
  margin: 1.25rem 0;
}

.leaderboard {
  border: 0.3rem solid #84c474;
  border-radius: 0.3125rem;
  display: inline-block;
  padding: 1rem 3rem;
  background-color: black;
  box-shadow: 0 0 2rem magenta;
  list-style: none;
  max-height: 717px;
  overflow-y: auto;
}

.leaderboard li {
  display: flex;
  align-items: center;
  padding: 0.625rem 0;
  font-size: 3rem;
  color: white;
}

.rank {
  width: 3rem;
  text-align: right;
  margin-right: 1.5rem;
}

.player-name {
  flex-grow: 1;
  text-align: left;
}

.score {
  width: 8rem;
  text-align: right;
  margin-left: 1.5rem;
  color: yellow;
}
